.slider,
.images,
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.images img:not(.active){
    display: none;
}

.images h3:not(.active){
    display: none;
}

button{
    border: none;
    background-color: transparent;
    z-index: 999999;
}

.left{
    left: 2rem;
}

.right{
    right: 2rem;
}